@import "_custom/custom";
@import "variables";

@import "_common/utils";
@import "_common/animation";

@import "base";
@import "layout";
@import "_partial/header";
@import "_partial/post";
@import "_partial/pagination";
@import "_partial/widget";
@import "_partial/footer";
@import "_partial/archive";
@import "_partial/tags";
@import "_partial/categories";
@import "_partial/iconfont";
@import "_partial/back-to-top";

body {
  overflow-x: hidden;
}

.colored-header {
  width: 200%;
  height: 120px;
  border-radius: 0 0 50% 50%;
  background-image: linear-gradient(to right , #42CD9B, #3BAD7E);
  margin-bottom: 40px;
  margin-left: -50%;
}

.colored-header .wrap {
  max-width: 1000px;
  width: 45%;
  margin: 0 auto;
}

#clogo {
  width: 70px;
  height: 70px;
  float: left;
  position: relative;
  margin: 70px 0 0 100px;
}

#clogo:before {
  content: '';
  display: inline-block;
  width: 76px;
  height: 76px;
  position: absolute;
  background: #fff;
  opacity: 0.16;
  left: -3px;
  top: -3px;
  z-index: 1;
  border-radius: 50%;
}

#clogo img {
  border-radius: 50%;
}

#clogo a {
  position: relative;
  z-index: 2;
}

#blog-name {
  float: left;
  width: 123px;
  height: 50px;
  margin: 60px 0 0 25px;
}

#menu {
  float: right;
  margin: 65px 0 0 0;
}

#menu li {
  float: left;
  list-style: none;
  margin-left: 20px;
}

#menu li a {
  color: #fff;
}

.dive-into-kotlin {
  float: left;
  margin: 73px 0 0 40px;
  height: 47px;
  overflow: hidden;
}
.dive-into-kotlin img {
  width: 40px;
}

@media only screen and (max-width: 750px) {
  #clogo {
    margin-left: 0;
  }
}